body {
	background: #000000;
	font-family: verdana, arial, sans-serif;
	color: #000000;
	font-size: 12px;
	margin: 0px;
}

div#container {
	width: 800px;
	margin: 0px auto;
	padding: 0px;
}

div#content {
	width: 800px;
	padding-top: 100px;
}


div#header {
	width: 760px;
	height: 80px;
	background: #FFFFFF;
	font-size: 40px;
	position: absolute;
	padding: 10px 20px 10px 20px;
	top: 0px;
}

div#header-content { 
	position: absolute; 
	bottom: 10; 
}

div#nav {
	width: 200px;
	float: left;
	background: #FFFFFF;
}

div#maincontent {
	width: 600px;
	float: right;
	background: #FFFFFF;
}

div.navblock {
	width: 180px;
	margin: 5px auto;
}

div.contentblock {
	width: 580px;
	margin: 5px auto;
	border-bottom: 1px solid #000000;
}

.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}